section{
    color:black;
}
#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: 8rem;
    right: 0rem;
    z-index: -1;
    object-fit: cover;
    height: auto;
    width: 20vw;
}

@media screen and (max-width: 860px) {
    .introContent {
        font-size: 3rem; 
    }
}

 .introContent {
    height: 100vh;
    width: 100vw;
    padding: 9rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
   color: rgb(70, 70, 129);
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: 2px solid black;
    border-radius: 2rem;
}

.btnImg{
   object-fit: cover;
   margin: 0 0.25rem;
   height: 1rem;
}

/* @media screen  and (max-width:820px) and (min-width:480px){
    .introContent {
        font-size: 4vh ;
        right: auto; 
        left: 0;    
        padding: 9rem 2rem; }
}
  */
@media screen and (max-width:460px){
    .bg{
        /* top: 5rem;
        z-index: 2;
        height: 26vh;
        width: 54vw;
        margin: -47px 93px 0px 0px;;
        padding: 0px 0px 0px 0px; */

        top: 5rem;
        z-index: 2;
        height: 26vh;
        width: 58vw;
        margin: -22px 88px 0px 0px;
        padding: 0px 0px 0px 0px;
  }
    
    .introContent{
        font-size: 4vh;
    margin: 37px 27px;
    padding: 0px 20px;
    }
    
}

@media screen and (min-width:470px)and  (max-width:820px)  {
    .bg {
        height: 25vh;
    width: 33vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 7vh;
    right: 25vh;
      }
      .introContent{
        font-size: 5vh;
    top: 3vh;
    right: 3vh;
    margin: 52px 0px 0px 189px;
    padding: 12px 0px 14px 0px;
      }
    
}



